<!DOCTYPE html>
<html>
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!---------- active title ---------->
		<title><%= title %></title>

		<!---------- style sheet ---------->
	    <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">

	    <!---------- javascript ---------->
	    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>

	</head>
	<body>

	<!---------- page admin begin ---------->

		<!-- define box -->
		<div class="nav">
		  <div class="ui grid">
		    <div class="four wide column"></div>
		    <div class="eight wide column">
		    </div>
		  </div>
		</div>

		<!-- define float menu -->
		<div class="nav-setting">
		    <div class="ui floating dropdown button">
		      <i class="icon bars"></i>
		      <div class="menu">
		      	<% if(admin) { %>
		          <a class="item" href="/admin/logout"><h1>LOGOUT</h1></a>	
		        <% } else { %>	      		
		          <a class="item" href="/admin"><h1>LOGIN</h1></a>
		        <% } %>
		          <a class="item" href="/admin/regist-student"><h1>REGISTER</h1></a>
		          <a class="item" href="/admin/edit-info"><h1>EDIT-INFO</h1></a>
		          <a class="item" href="/do-books"><h1>DO-BOOKS</h1></a>
		      </div>
		    </div>
		</div>	


		<!-- define form -->
		<div class="ui grid">
		  <div class="four wide column"></div>
		  <div class="eight wide column">
		    <form class="ui form segment" method="post" action="/admin">
		      <div class="field required">
		        <label><h1>Account</h1></label>
		        <input placeholder="Please input Account..." type="text" name="admin_name">
		      </div>
		      <div class="field required">
		        <label><h1>Password</h1></label>
		        <input placeholder="Please input Password..." type="password" name="admin_password">
		      </div>
		      <input type="submit" class="ui button fluid" value="Submit">
		    </form>  
		  </div>
		</div>

		<!-- listen user actions -->
		  <script type="text/javascript">
		   $(document).ready(function () {
		      // action-show menu
		      $('.ui.dropdown').dropdown();
		    })
		  </script>

	<!---------- page admin end ---------->

  	</body>
</html>